<!-- <div class="mb-3">
  <label for="colorFilter" class="form-label">Ara</label>
  <input type="text" [(ngModel)]="colorFilter" class="form-control" id="colorFilter" placeholder="Arama ifadesi giriniz.">
</div>
<div *ngIf="colorFilter.length>1" class="alert alert-primary">
  {{colorFilter}} renk araçlar listelendi.
  </div> -->

<ul class="list-group">
  <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.id}}"
    *ngFor="let color of colors "                  
    [class]="getCurrentColorClass(color)"
  >
    {{ color.name }}
  </li>
</ul>
<!-- 13.satır   | colorFilterPipe:colorPipe --> 