<ul class="list-group">
  <li (click)="resetCurrentBrand()" [class]="getAllBrandClass()" routerLink="/cars">Tüm Arabalar</li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.id}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.name }}
  </li>
</ul>

<h5 *ngIf="currentBrand">
  {{ currentBrand.name }} seçtiniz
  <h5></h5>
</h5>


<select [(ngModel)]="id" class="form-select" aria-label="Default select example">
  <option value="0 selected">Tüm Markalar</option>
  <option value={{brand.id}} *ngFor="let brand of brands" [class]="getCurrentBrandClass(brand)">{{brand.name}}</option>
</select>
