<table class="table">
  <tr>
    <th>Id</th>
    <th>Marka</th>
    <th>Model</th>
    <th>Model Yılı</th>
    <th>Müşteri adı</th>
    <th>Günlük ücret</th>
    <th>Kiralama tarihi</th>
    <th>Dönüş tarihi</th>
  </tr>

  <tr *ngFor="let rental of rentals">
    <td>{{ rental.id }}</td>
    <td>{{ rental.brandName }}</td>
    <td>{{ rental.carName }}</td>
    <td>{{ rental.modelYear }}</td>
    <td>{{ rental.customerName }}</td>
    <td>{{ rental.dailyPrice }}</td>
    <td>{{ rental.rentDate }}</td>
    <td>{{ rental.returnDate }}</td>
  </tr>
</table>
